body{
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: rgba(0,0,0,.55) url('/assets/background.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position-x: 50%;
    background-position-y:0 ;
    margin: 0 0 0 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}


h1{

    cursor: default;
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: .2em;
    animation: appear 1s both;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    display: block;
    opacity: 0;
    font-weight: italic;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 20px;
    list-style: none;
    transition: ease-out .3s ;
    animation: appear 2s  .5s both;
}

.container{
    margin-left: 200px;
}


.title{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

li:hover{
    transform: scale(1.05);
    text-decoration: underline;
}

.socials{
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    margin-bottom: 0;
}


@keyframes appear{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}


@media (max-width: 830px){
    body{
        display: flex;
        justify-content: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }
    nav{
        margin-top:20px
    }
    ul{
        padding-left: 0;
    }
}

@media (max-width: 450px){
    h1{
        font-size: 2em;
    }

    .links{
        flex-direction: column;
    }
    li{
        margin-bottom: 10px;
    }
}